/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
    --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
  }
}
/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
    --fs-sm: 0.8rem;
    --fs-base: 1rem;
    --fs-md: 1.25rem;
    --fs-lg: 1.56rem;
    --fs-xl: 1.95rem;
    --fs-xxl: 2.44rem;
    --fs-xxxl: 3.05rem;
  }
  @media screen and (min-width: 1280px) {
    :root {
      --fs-sm: 0.89rem;
      --fs-base: 1.19rem;
      --fs-md: 1.58rem;
      --fs-lg: 2.11rem;
      --fs-xl: 2.81rem;
      --fs-xxl: 3.75rem;
      --fs-xxxl: 5rem;
    }
  }
}

@layer base {
  body {
    @apply font-body;
  }

  h1 {
    font-size: var(--fs-xl);
  }

  h2 {
    font-size: var(--fs-lg);
  }

  h3 {
    font-size: var(--fs-md);
  }

  h4 {
    font-size: var(--fs-sm);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-header;
  }

  a {
    @apply underline text-white;
  }

  a:hover {
    text-underline-offset: 0.1ex;
  }

  a:visited {
    @apply text-orange;
  }

  /* Roughly https://www.joshwcomeau.com/gradient-generator/?colors=ff931e|140314&angle=130&colorMode=hcl&precision=8&easingCurve=0.09267241379310345|0.38620692285998115|0.2952586206896552|0.20517244010136046 	 */
  .gradient {
    background-image: linear-gradient(
      130deg,
      hsl(31deg 100% 56%) 0%,
      hsl(24deg 90% 57%) 2%,
      hsl(17deg 78% 56%) 4%,
      hsl(10deg 65% 54%) 6%,
      hsl(3deg 51% 51%) 9%,
      hsl(355deg 47% 46%) 13%,
      hsl(348deg 49% 40%) 18%,
      hsl(342deg 49% 33%) 23%,
      hsl(336deg 48% 27%) 29%,
      hsl(329deg 46% 21%) 37%,
      hsl(322deg 42% 16%) 47%,
      hsl(311deg 38% 11%) 62%,
      hsl(300deg 74% 5%) 100%
    );
  }

  .pattern {
    --dot-color: white; /* Color of the dots */
    --dot-size: 0.75px; /* Radius of the dots */
    --dot-space: 80px; /* Spacing between dots */

    background: radial-gradient(
        circle,
        var(--dot-color) var(--dot-size),
        transparent var(--dot-size)
      )
      0 0 / var(--dot-space) var(--dot-space) repeat;
  }

  .gradient-pattern {
    /* Variables for the Dot Pattern */
    --dot-color: white; /* Color of the dots */
    --dot-size: 1px; /* Size of the dots */
    --dot-space: 40px; /* Spacing between dots */

    /* Backgrounds */
    background:
			/* Dot Pattern */ radial-gradient(
          circle,
          var(--dot-color) var(--dot-size),
          transparent var(--dot-size)
        )
        0 0 / var(--dot-space) var(--dot-space) repeat,
      /* Gradient Layer */
        linear-gradient(
          130deg,
          hsl(31deg 100% 56%) 0%,
          hsl(24deg 90% 57%) 2%,
          hsl(17deg 78% 56%) 4%,
          hsl(10deg 65% 54%) 6%,
          hsl(3deg 51% 51%) 9%,
          hsl(355deg 47% 46%) 13%,
          hsl(348deg 49% 40%) 18%,
          hsl(342deg 49% 33%) 23%,
          hsl(336deg 48% 27%) 29%,
          hsl(329deg 46% 21%) 37%,
          hsl(322deg 42% 16%) 47%,
          hsl(311deg 38% 11%) 62%,
          hsl(300deg 74% 5%) 100%
        );

    /* Background Properties */
    background-repeat: repeat;
  }
}
