---
import "@styles/base.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Picture } from "astro:assets";
import koryAndSpook from "@images/spook-little.jpg"
---

<BaseLayout
  title="About Spook Software"
  description="Learn more about Spook Software"
>
  <div class="content-box w-full md:w-8/12 mx-auto px-4 py-8 flex-grow prose">
    <h1>About Spook Software</h1>
    <p>
      Spook Software is a one-man software company run by <a
        href="https://korysmith.dev/"
        rel="external">Kory Smith</a
      >.
      It exists to be a purveyor of fine software programs.
    </p>
    <h2>What's with the name?</h2>
    <p>
      The name comes from Kory's beloved cat, Spook, who sadly fell to cancer
      after only three years in the family. It wasn't nearly enough time.
    </p>
    <br />
    <Picture class="m-auto" src={koryAndSpook} formats={['avif', 'webp', 'jpeg']} alt="Spook sitting on Kory's lap" />
  </div>

  <style>
    .content-box {
      background-color: rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(10px);
      padding: 2rem;
    }
  </style>
</BaseLayout>
