---
import "@styles/base.css";
import ContentLayout from "@layouts/ContentLayout.astro";
import { Picture } from "astro:assets";
import koryAndSpook from "@images/spook-little.jpg"
---

<ContentLayout
  title="About Spook Software"
  description="Learn more about Spook Software"
>
  <h1>About Spook Software</h1>
  <p>
    Spook Software is a one-man software company run by <a
      href="https://korysmith.dev/"
      rel="external">Kory Smith</a
    >.
    It exists to be a purveyor of fine software programs.
  </p>

  <h2>What's with the name?</h2>
  <p>
    The name comes from Kory's beloved cat, Spook, who sadly fell to cancer
    after only three years in the family. It wasn't nearly enough time.
  </p>

  <figure class="photo-container">
    <Picture src={koryAndSpook} formats={['avif', 'webp', 'jpeg']} alt="Spook sitting on Kory's lap" class="spook-photo" />
  </figure>
</ContentLayout>

<style>
  .photo-container {
    margin-top: 2rem;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .photo-container :global(img) {
    width: 100%;
    height: auto;
    display: block;
  }
</style>
