---
import "../../src/styles/base.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Spook Software" description="This is software that I made">
  <p>Whee!</p>
</BaseLayout>
