---

---

<footer class="py-[1.2rem] px-6 w-full border-t">
  <div
    class="flex flex-row items-center justify-between gap-4 container"
    id="footer-spacing-container"
  >
    <p class="text-center text-sm leading-loose">
      What even goes in a footer, anyway?
    </p>
    <div class="flex gap-4" id="righthand-icons">
			{["icon 1", "icon 2", "icon 3"].map(item => (<p>{item}</p>))}
		</div>
  </div>
</footer>
