---

---

<header class="flex">
	<a href="/" class="logo">
		<img src="./spook_horizontal_black.svg" alt="Spook Software Logo" width="205px">
	</a>
	<p>I'm a header item</p>
	<p>I'm another header item</p>
</header>
