---
import ChristmasLights from "@components/ChristmasLights.astro";
---

<header class="relative px-6 w-full top-0 z-50" data-christmas-padding="pt-6">
  <div class="flex space-x-4 justify-between items-center">
    <a href="/" class="logo">
      <img
        src="/spook_horizontal_white.svg"
        alt="Spook Software Logo"
        width="205px"
        class="transition-opacity duration-300 hover:opacity-80"
      />
    </a>
    <div class="flex flex-row gap-8 text-xl">
      <a href="/about">
        <p>About</p>
      </a>
    </div>
  </div>
  <ChristmasLights position="top" />
</header>

<style>
  .border-gradient {
    border-image-source: linear-gradient(to right, white, #c65842);
    border-image-slice: 1;
  }

/* to prevent CLS */
  img {
    aspect-ratio: 436.39 / 166.44;
  }
</style>
